* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-family: "Times New Roman", Times, serif;
  font-size: 100%;
  background: red;
  color: black;
  text-decoration: dashed;
}

h1 {
  font-size: 1rem;
}

a {
  color: inherit;
}

p {
  color: yellow;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12pt;
  background: violet;
}

div {
  width: 300px;
  padding: 5px;
}
