* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  background: rgb(63, 53, 53);
  color: rgb(250, 247, 221);
}

body {
  padding: 20px 40px 20px 40px;
}
h1 {
  font-size: 2rem;
}

a {
  color: inherit;
}

.recipe {
  display: flex;
  flex-direction: row;
}

.ingredients {
  padding-right: 50px;
}
