* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

html {
  font-family: sans-serif;
  font-size: 100%;
  background: #eee;
}

h1 {
  font-size: 2rem;
}

a {
  color: inherit;
}

.container {
  max-width: 960px;
  margin: 20px auto;
}
